<div class="content-wrap">
    <h2>Login</h2>
    <div class="row">
        <div class="col m9">
            <p>Please enter your username and password to access your San Diego Opera online account.</p>
            <%= simple_form_for(@session, as: "session", :html => { method: "post", role: "form", id:"login_user"  }, :url => sdo_session_path ) do |f| %>
                <%= render partial: "/shared/error_messages", locals: {model: @session} %>
                <div class="row">
                    <%= f.input :user_name, label: "Username", hint: "Your email address is your username", wrapper_html: { class: 'm4 s6' } %>
                </div>
                <div class="row">
                    <%= f.input :password, wrapper_html: { class: 'm4 s6' } %>
                    <div class="col m4 s6">
                        <%= link_to("Forgot your password?", forgot_password_path, style: "margin-top: 25px;display:block;line-height:34px;") %>
                    </div>
                </div>
                <div class="form-actions">
                    <%= f.button :submit, "Login", class: "btn btn-primary" %>
                </div>
                
            <% end %>
        </div>
        <div class="col m3">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Not registered yet?</h4>
                    <%= link_to("Register Now", new_account_path, class: "btn btn-primary btn-block") %>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <p>Need more information on an opera? Can’t remember your log in information? Like details about views and sounds from different seats? For answers to these questions and more, Patron Services is here to help!</p>
                    <hr/>
                    <p><strong>Visit our PATRON SERVICES OFFICE</strong><br>
                        233 A Street, 5th Floor<br>
                        Centre City Building<br>
                        San Diego, CA 92101<br>
                        Hours: Mon-Fri, 8:30am to 4:30pm<br>
                        <br><strong>Contact our PATRON SERVICES Team</strong><br>
                        Phone: (619) 533-7000<br>
                        Email:&nbsp;<a href="mailto:tickets@sdopera.com" data-mce-href="mailto:tickets@sdopera.com"></a><a>tickets@sdopera.com</a><br>
                        Hours: Mon-Fri, 8:30am to 4:30pm</p>
                </div>
            </div>
           
        </div>
    </div>
</div>