<%
  form_url = @portal.persisted? ? 
    admin_home_portal_path(@portal) :
    admin_home_portals_path
    
%>

<%= simple_form_for @portal, { url: form_url } do |f| %>
    <%= f.input :category, as: :hidden %>
  <div class="form-inputs basic">
    <div class="row">
        <%= f.input :start_date, as: :date, label: 'Start Date', wrapper_html: { class: "col m3" }  %>
        <%= f.input :end_date, as: :date, label: 'End Date', wrapper_html: { class: "col m3" }  %>
        <div class="col m3">
          <br/>
          <label>
            <%= f.input_field :hidden, as: :boolean, label: false, boolean_style: :inline %>
            <span>Hidden?</span>
          </label>
        </div>
    </div>
    <div class="row">
        <div class="col m8">
            <label class="control-label">Main Image</label>
            <div class="slim slim-main" data-label="Click to choose an image" data-post="input, output, actions" data-meta-type="main" <%= @portal.slim_dimension_string.present? ? %Q(data-force-size=#{@portal.slim_dimension_string}) : ""  %> data-filter-sharpen="10" data-instant-edit="true" data-did-transform="imageLoaded">
              <% unless @portal.main_image.blank? %>
              <img src="<%= @portal.main_image.url %>" crossorigin="anonymous" style="max-width:100%;" />
              <% end %>
               <input type="file" accept="image/*"/>
            </div>
        </div>
        <div class="col m4">
            <label class="control-label">Mobile Image</label>
            <div class="slim slim-mobile" data-label="Click to choose an image" data-post="input, output, actions" data-meta-type="mobile" <%= @portal.slim_mobile_dimension_string.present? ? %Q(data-force-size=#{@portal.slim_mobile_dimension_string}) : ""  %> data-filter-sharpen="10" data-instant-edit="true" data-did-transform="mobileImageLoaded">
              <% unless @portal.mobile_image.blank? %>
              <img src="<%= @portal.mobile_image.url %>" crossorigin="anonymous" style="max-width:100%;" />
              <% end %>
               <input type="file" accept="image/*"/>
            </div>
        </div>
    </div>
    
    <%= f.input :preview_image_url, as: :hidden %>
    <%= f.input :preview_mobile_image_url, as: :hidden %>
      <div class="row">
        <%= f.input :title, wrapper_html: { class: "col m12" }  %>
      </div>
      <div class="row">
        <%= f.input :link_url_1, label: "Link URL 1", wrapper_html: { class: "col m6" }  %>
        <%= f.input :link_text_1, label: "Link Text 1", wrapper_html: { class: "col m6" }  %>
      </div>
      <div class="row">
        <%= f.input :link_url_2, label: "Link URL 2", wrapper_html: { class: "col m6" }  %>
        <%= f.input :link_text_2, label: "Link Text ", wrapper_html: { class: "col m6" }  %>
      </div>
      <div class="row">
        <%= f.input :content, label: "HTML Content", wrapper_html: { class: "col m12 html-editor" }  %>
      </div>
  </div>
  <div class="form-actions">
    <%= link_to(admin_home_portals_path, class: "btn grey") do %>Cancel<% end %>
    <%= f.button :submit, "Save", class: "btn btn-primary btn-submit", data: { disable_with: "Save" } %>
  </div>
      
<% end %>
<script type="text/javascript">
  $('#home_portal_portal_type').on('change', function(){
    $('.form-inputs').attr('class', 'form-inputs '+ $('#home_portal_portal_type').val())
  });
  $('#home_portal_portal_type').trigger('change');
  $('.form-inputs').slim('parse');
  $('.btn-change-image').off('click');
  $('.btn-change-image').on('click', function(e){
    $('.current-image').hide();
    $('.new-image').show();
  });
  $('.btn-keep-image').off('click');
  $('.btn-keep-image').on('click', function(e){
    $('.new-image').hide();
    $('.current-image').show();
  });
  
  $('.btn-change-mobile-image').off('click');
  $('.btn-change-mobile-image').on('click', function(e){
    $('.current-mobile-image').hide();
    $('.new-mobile-image').show();
  });
  $('.btn-keep-mobile-image').off('click');
  $('.btn-keep-mobile-image').on('click', function(e){
    $('.new-mobile-image').hide();
    $('.current-mobile-image').show();
  });
  
  function imageLoaded(file, image, meta){
    //console.log('imageLoaded', file, image, meta)
    $('.slim input[type=hidden]').trigger('change');
    return true;
  }
  
  function mobileImageLoaded(file, image, meta){
    //console.log('imageLoaded', file, image, meta)
    $('.slim input[type=hidden]').trigger('change');
    return true;
  }
  $('.slim-main input[type=hidden]').on('change', function(){
    var cropper = $('.form-inputs .slim-main').slim('dataBase64')[0];
    //console.log('cropper', cropper)
    var val = cropper.output;
    //console.log('slim input change', val);
    var img_input = $('#home_portal_preview_image_url');
    if(val && val != undefined){
      $('#processing_image').modal('open');
      $.post('<%= admin_home_portal_preview_upload_path %>', {slim: {output: val}}, function(resp){
        console.log('preview-upload', resp);
        img_input.val(resp.image_url);
        $('#processing_image').modal('close');
      });
    }
  });
  
   $('.slim-mobile input[type=hidden]').on('change', function(){
    var cropper = $('.form-inputs .slim-mobile').slim('dataBase64')[0];
    //console.log('cropper', cropper)
    var val = cropper.output;
    //console.log('slim input change', val);
    var img_input = $('#home_portal_preview_mobile_image_url');
    if(val && val != undefined){
      $('#processing_image').modal('open');
      $.post('<%= admin_home_portal_preview_upload_path(mobile: true) %>', {slim: {output: val}}, function(resp){
        console.log('preview-upload', resp);
        img_input.val(resp.image_url);
        $('#processing_image').modal('close');
      });
    }
  });
</script>