<% @browser_title = @document.title
  @fb_image = @document.main_image.url if @document.main_image.present?
%>
<div class="breadcrumb page-ctr">
    <%= link_to('Past Events', past_events_path) %>
    <span class="separator">/</span>
    <span class="current-page"><%= @document.title %></span>
</div>
<% if @document.main_image.exists? %>
<img src="<%= @document.main_image_url %>" style="width: 100%;max-width: 100%;"/>
<% end %>
<div class="page-ctr">
<h1><%= @document.title %></h1>
</div>
<% @document.sections.where('display_order < 1000').order(:display_order).reject(&:hidden).each do |section| %>
   <%= render partial: 'section', locals: { document: @document, section: section } %>
<% end %>
<% if @document.storylines.any? %>
<div class="storylines">
    <h3>Storylines</h3>
    <div class="row equalize-grid-items">
    <% @document.storylines.each do |storyline| %>
     <div class="col m4 col s6">
      <a class="storyline-item" href="<%= storyline.site_url %>">
        <img src="<%= storyline.thumb_image_url %>"/>
        <h4><%= storyline.title.html_safe %></h4>
      </a>
    </div>
    <% end %>
    </div>
</div>
<% end %>
<% if @document.galleries.any? %>
<div class="galleries">
    <h3>Galleries</h3>
    <div class="row equalize-grid-items">
    <% @document.galleries.each do |gallery| %>
     <div class="col m4 col s6">
      <a class="gallery-item" href="<%= gallery.site_url %>">
        <img src="<%= gallery.thumb_image_url %>"/>
        <h4><%= gallery.title.html_safe %></h4>
      </a>
    </div>
    <% end %>
    </div>
</div>
<% end %>

<% if @document.news_items.any? %>
<div class="news-items">
    <h3>News</h3>
    <div class="row equalize-grid-items">
    <% @document.news_items.each do |news_item| %>
     <div class="col m4 col s6">
      <a class="news-item" href="<%= news_item.site_url %>">
        <img src="<%= news_item.thumb_image_url %>"/>
        <h4><%= news_item.title.html_safe %></h4>
      </a>
    </div>
    <% end %>
    </div>
</div>
<% end %>
<% if @document.products.images.any? %>
<div class="page-ctr with-cols">
<h3>Products</h3>
<%= render partial: @document.products.partial_name(true), locals: { document: @document, part: @document.products } %>
</div>
<% end %>
<% content_for :scripts do %>
<script type="text/javascript">
    $(document).ready(function () {
      $('.carousel').carousel({
        fullWidth: true,
        indicators: true
      });
      setInterval(function() {
        $('.carousel').carousel('next');
      }, 5000);
      $(".image-strip-part a").colorbox({ rel: 'image-strip-part', slideshow: true, slideshowSpeed: 5000, maxWidth: "90%", maxHeight: "90%", speed: 1000, transition: "fade"});
    });
    /*$(window).on('load', function(){
      $('.image-strip-ctr a').each(function(ind, el){
        var img = new Image();
        img.src = $(el).attr('href');
      });
    });*/
  $('.tile-grid').each(function(ind, grid){
    $grid = $(grid);
    var cols = 2;
    var items = $('.tile', $grid);
    var row = $('<div class="row"/>');
    $grid.append(row);
    var colClasses = "col xl3 l4 m6 s12";
    if (cols == 2) {
        colClasses = "col xl6 l6 m12 s12";
    }
    if (cols == 3) {
        colClasses = "col xl4 l4 m6 s12";
    }
    for (var i = 1; i <= cols; i++) {
        row.append('<div id="column_' + i + '" class="'+colClasses+'"/>');
    }
    $grid.distributeItems = function(){
      var cols = Math.floor($grid.width() / $('#column_1').width());
      $grid.append(items);
      $(items).each(function(ind, el){
        if (ind < cols) {
            $('#column_' + (ind + 1)).append(el);
        } else {
            var shortestColumn = 1;
            var shortestColumnHeight = $('#column_1').height();
            for (var i = 2; i <= cols; i++) {
                var h = $('#column_' + i).height();
                if (h < shortestColumnHeight) {
                    shortestColumn = i;
                    shortestColumnHeight = h;
                }
            }
            $('#column_' + shortestColumn).append(el);
        }
        $(el).show();
      });
    }
    $grid.distributeItems();
    $(window).on('load', function () {
        $grid.distributeItems();
         $(window).on('resize', function () {
          $grid.distributeItems();
      });
    });
  });


</script>
<% end %>