<% use_tiles ||= false %>
<% if part.title.present? %>
  <h3><%= part.title %></h3>
<% end %>
<div id="doc_part_<%= part.id %>" class="doc-part image-strip-part">
<% if use_tiles %>
<div class="tile-grid">
  <% part.images.order(:display_order).each do |image| %>
        <div class="tile">
            <a href="<%= image.image.url %>"><img src="<%= image.image.url(:medium) %>" title="<%= image.title %>" style="width:100%;max-width:100%;" /></a>
        </div>
  <% end %>
</div>

<% else %>
<div class="image-strip-ctr">
  <% part.images.order(:display_order).each do |image| %>
        <div class="image-strip-item">
            <a href="<%= image.image.url %>"><img src="<%= image.image.url(:medium) %>" title="<%= image.title %>" /></a>
        </div>
  <% end %>
</div>
<% end %>
</div>