<div class="row">
  <div id="doc_part_<%= part.id %>" class="col s12 doc-part press-release-list-part">
    <% if part.title.present? %>
      <h3><%= part.title.html_safe %></h3>
    <% end %>
    <div class="press-release-list">
      <% part.press_releases.each do |press_release| %>
        <div>
          <div class="press-info">
            <div class="press-date"><%= l(press_release.publish_date) %></div>
            <h4 class="press-title"><%= sanitize(press_release.title) %></h4>
          </div>
          <div class="press-actions">
            <%= link_to('Download DOC', press_release.word_doc.url, target: '_blank', class: 'btn btn-default') if press_release.word_doc.present? %>
            &nbsp;
            <%= link_to('Download PDF', press_release.pdf_doc.url, target: '_blank', class: 'btn btn-default') if press_release.pdf_doc.present? %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>