<% if part.images.size == 1 %>
<% slide = part.images.first %>
<div id="doc_part_<%= part.id %>" class="doc-part fullwidth-image-part">
  <% if slide.link_url.present?%>
    <a href="<%= slide.link_url %>">
  <% end %>
  <img src="<%= slide.image.url %>" style="width: 100%; max-width: 100%;">
  <% if slide.link_url.present? %>
  </a>
  <% end %>
</div>
<% else %>
<div id="doc_part_<%= part.id %>" class="doc-part slideshow-part">
  <div id="slideshow_<%= part.id %>" class="carousel carousel-slider center">
    <% part.images.order(:display_order).each_with_index do |slide, ctr| %>
      <div class="carousel-item center" id="#slide_<%= part.id %>_<%= ctr %>">
        <img src="<%= slide.image.url %>" class="img-placeholder">
        <% if slide.link_url.present?%>
        <a href="<%= slide.link_url %>">
        <% end %>
          <div class="slide-wrap" style="<%= slide.image.url.present? ? "background: url(#{slide.image.url}) no-repeat scroll center center;" : "" %>">
            <% if slide.image.url.present? %>
              <img src="<%= slide.image.url %>" class="img-placeholder" />
            <% end %>
            <div class="slide-content top-center">
              <% unless slide.title.blank? %>
              <h1><%= slide.title %></h1>
              <% end %>
              <% unless slide.caption.blank? %>
              <h3><%= slide.caption %></h3>
              <% end %>
            </div>
        </div>
        <% if slide.link_url.present? %>
        </a>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>
<% end %>