<%= simple_form_for @news_link, { url: [:admin, @news_link], remote: true } do |f| %>
  <div class="modal-content" style="max-height: 480px;">
    <h4 class="modal-title"><%= @news_link.persisted? ? "Edit" : "New" %> News Item</h4>
    <%= f.error_notification %>

    <div class="row">
        <%= f.input :title, wrapper_html: { class: "col m12" }  %>
    </div>
    <div class="row">
        <%= f.input :author, label: 'Source', wrapper_html: { class: "col m6" }  %>
        <%= f.input :publish_date, as: :date, label: 'Publish Date', input_html: {value: @news_link.publish_date}, wrapper_html: { class: "col m6" }  %>
    </div>
    <div class="row">
        <%= f.input :url_link, wrapper_html: { class: "col m12" }  %>
    </div>
    <div class="row">
        <div class="col m3">
            <%= f.input :hidden, wrapper_html: { class: "radio-input-wrap" }  %>
        </div>
        <%= f.input :keywords, wrapper_html: { class: "col m9" }  %>
    </div>
  </div>
  <div class="modal-footer">
      <a href="javascript:;" class="btn modal-close">Cancel</a>
      <%= f.button :submit, "Save", class: "btn btn-primary btn-submit", data: { disable_with: "Save" } %>
  </div>
<% end %>