<%= simple_form_for @document, url: admin_document_path(@document), as: :document do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <%= f.input :title, wrapper_html: { class: "col m6" }  %>
      <%= f.input :slug, wrapper_html: { class: "col m6" }  %>
    </div>
    <div class="row">
      <div class="form-group datetime optional published_at col m6">
            <label class="control-label datetime optional" for="created_at">Publish Date</label>
            <%= f.input :published_at, as: :hidden, input_html: { class: "fh-date-picker" }  %>
          </div>
    </div>
      <div class="categories">
        <%= f.association :categories, as: :check_boxes,
               label_method: :name,
               value_method: :id,
               collection: Category.all.order(:name),
               item_wrapper_class: "category-item",
               label: 'Categories' %>
      </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, disable_with: "Saving...", class: "btn btn-primary" %>
  </div>
<% end %>
