<% @browser_title = @document.title
  @fb_image = @document.main_image.url if @document.main_image.present?
%>

<div class="page-ctr">
<h2 class="show">The Scene</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="pane main-pane">
        <% @document.sections.where(pane: "main").order(:display_order).each do |section| %>
          <%= render partial: section.partial_name, locals: { document: @document, section: section } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="pane left-pane">
        <h2 class="article-title"><%= @document.title %></h2>
        <div class="published-at"><%= @document.published_at.strftime("%A, %B %e, %Y") rescue  ""  %></div>
        <% @document.categories.each do |tag| %>
        <span class="doc-tag"><%= tag.name %></span>
        <% end %>
        <% @document.sections.where(pane: "left").order(:display_order).each do |section| %>
          <%= render partial: section.partial_name, locals: { document: @document, section: section } %>
        <% end %>
        <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin: 8px 0;">
              <a class="addthis_button_facebook"></a>
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_tumblr"></a>
              <a class="addthis_button_email"></a>
          </div>
          <script type="text/javascript">var addthis_config = { "data_track_addressbar": false };</script>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a67b1f1f2a14a6"></script>
          <!-- AddThis Button END -->
      </div>
    </div>
    <div class="col-md-8">
      <div class="pane right-pane">
        <% @document.sections.where(pane: "right").order(:display_order).each do |section| %>
          <%= render partial: section.partial_name, locals: { document: @document, section: section, use_tiles: true } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pane bottom-pane">
        <% @document.sections.where(pane: "bottom").order(:display_order).each do |section| %>
          <%= render partial: section.partial_name, locals: { document: @document, section: section } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
    $(document).ready(function () {
        $(".image-strip-part a").colorbox({ rel: 'image-strip-part', slideshow: true, slideshowSpeed: 5000, maxWidth: "90%", maxHeight: "90%", speed: 1000, transition: "fade"});
    });
    $(window).on('load resize', function(){
      $('.video-part-wrap').each(function(ind, el){
        frame = $(el).find('iframe');
        w = $(frame).width();
        h = w * 0.5625;
        console.log("video aspect", w, h, frame);
        $(frame).height(h);
      });
    });
    $(window).on('load', function(){
      $('.image-strip-ctr a').each(function(ind, el){
        var img = new Image();
        img.src = $(el).attr('href');
      });
    });
  var grid = $('.tile-grid');
  var cols = 2;
  var items = $('.tile', grid);
  var row = $('<div class="row"/>');
  grid.append(row);
  var colClasses = "col-lg-3 col-md-4 col-sm-6 col-xs-12";
  if (cols == 2) {
      colClasses = "col-lg-6 col-md-6 col-sm-12 col-xs-12";
  }
  if (cols == 3) {
      colClasses = "col-lg-4 col-md-4 col-sm-6 col-xs-12";
  }
  for (var i = 1; i <= cols; i++) {
      row.append('<div id="column_' + i + '" class="'+colClasses+'"/>');
  }
  function distributeItems(){
    var cols = Math.floor(grid.width() / $('#column_1').width());
    grid.append(items);
    $(items).each(function(ind, el){
      if (ind < cols) {
          $('#column_' + (ind + 1)).append(el);
      } else {
          var shortestColumn = 1;
          var shortestColumnHeight = $('#column_1').height();
          for (var i = 2; i <= cols; i++) {
              var h = $('#column_' + i).height();
              if (h < shortestColumnHeight) {
                  shortestColumn = i;
                  shortestColumnHeight = h;
              }
          }
          $('#column_' + shortestColumn).append(el);
      }
      $(el).show();
    });
  }
  distributeItems();
  $(window).on('load', function () {
      distributeItems();
       $(window).on('resize', function () {
        distributeItems();
    });
  });

</script>
<% end %>