<% 
    @body_classes ||= []
    @body_classes << "tickets"
    @body_classes << "best-avail"
    @performance_prices = performance_prices(@performance)
    @show_child_price_type = @performance_prices.values.first[:child_price] > 0
%>
<div class="content-wrap">
    <h2><%= @performance.title %></h2>
    <h4><%= @performance.long_date %></h4>
    <%= form_tag purchase_performance_path(id: @performance.id), id: "ticket_purchase_form" do %>
    <% if @errors.any? %>
        <div class="alert alert-danger">
            <ul>
                <% @errors.each do |err| %>
                    <li><%= err %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-steps">
        <div class="form-step">
            <div class="instructions">
                <p>Please select the number of seats you would like:</p>
            </div>
            <div class="step-fields">
                <div class="seat-selector">
                    <% if @show_child_price_type %><div class="seat-selector-label">Regular</div><% end %>
                    <div class="seat-selector-select">
                        <select class="form-control" style="width: auto;" name="regular_seat_count" id="regular_seat_count">
                            <option value="">--</option>
                            <% (1..@performance.max_tickets).each do |i| %>
                            <option value="<%= i %>" <%= i == (params[:regular_seat_count] || "2").to_i ? %Q(selected="selected") : "" %>><%= i %></option>
                            <% end %>
                        </select>
                    </div>
                    <input type="hidden" name="regular_price_type" id="regular_price_type" value="<%= @performance_prices.values.first[:regular_price_type] %>"/>
                </div>
                <% if @show_child_price_type %>
                <div class="seat-selector">
                    <div class="seat-selector-label">Child</div>
                    <div class="seat-selector-select">
                        <select class="form-control" style="width: auto;" name="child_seat_count" id="child_seat_count">
                            <option value="">--</option>
                            <% (1..@performance.max_tickets).each do |i| %>
                            <option value="<%= i %>" <%= i == (params[:child_seat_count] || "0").to_i ? %Q(selected="selected") : "" %>><%= i %></option>
                            <% end %>
                        </select>
                    </div>
                    <input type="hidden" name="child_price_type" id="child_price_type" value="<%= @performance_prices.values.first[:child_price_type] %>"/>
                </div>
                <% end %>
            </div>
        </div>
        <div class="form-step">
            <div class="instructions">
                <p>Please select the section in which you would like to be seated:</p>
            </div>
            <div class="step-fields">
                <div class="sections flex-grid">
                    <div class="grid-header">
                        <div class="grid-row column-headers">
                            <div class="checkbox-col"></div>
                            <div class="grid-main-col">Section</div>
                            <div class="price-type">Regular</div>
                            <% if @show_child_price_type %>
                                <div class="price-type">Child</div>
                            <% end %>
                        </div>
                    </div>
                    <div class="grid-body">
                        <% @performance.zone_map.zones.each do |z| %>
                            <% next unless @performance_prices[z.id].present? %>
                            <% pz = @performance_prices[z.id] || {} %>
                            <div class="grid-row <%= pz[:available_count] == 0 ? 'sold-out' : '' %>" data-zone="<%= z.id %>">
                                <div class="checkbox-col">
                                    <% if pz[:available_count] > 0 %>
                                         <label><input type="radio" name="section" id="section_<%= z.id %>" value="<%= z.id %>"/><span></span></label>
                                    <% end %>
                                </div>
                                <div class="grid-main-col"><%= z.description %></div>
                                <div class="price-type"><%= number_to_currency(pz[:regular_price]) %></div>
                                <% if pz[:child_price] > 0 %>
                                <div class="price-type"><%= number_to_currency(pz[:child_price]) %></div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
    $('.sections .grid-body .grid-row').on('click', function(e){
        if(e.target.tagname != "INPUT"){
            //$(this).find('input[type=radio]').click();
        }
    });
    $('#ticket_purchase_form').on('submit', function(e){
        
    });
</script>
<% end %>