<%
    @body_classes ||= []
    @body_classes << "tickets"
    @body_classes << "syos"
    @syos_data = @performance.syos_data(current_session)
%>
<% content_for :head do %>
    <style type="text/css">
        .section-summary-list {
            margin: 0;
            padding: 0;
            border: solid 1px #DDD;
            border-bottom: 0;
            width: 100%;
        }

        .section-summary-list td {
            padding: 5px;
            line-height: 18px;
            border-bottom: solid 1px #DDD;
        }

        .section-summary-list tr:hover td,
        .section-summary-list tr:hover td a,
        .section-summary-list tr.active td,
        .section-summary-list tr.active td a {
            background: #004;
            color: #FFF !important;
        }

        .section-summary-list td a{
            display: block;
            line-height: 18px;
        }

        pre {
            background: #DDD;
            padding: 10px;
            border-radius: 5px;
            border: solid 1px #CCC;
            white-space: pre-wrap;
        }

        .seat-map {
            position: relative;
        }

        .seat-map .stage {
            position: absolute;
            width: 100%;
            bottom: -40px;
            left: 0;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        .full-seat-map {
            position: relative;
        }

        .full-seat-map .stage {
            position: absolute;
            width: 100%;
            bottom: -40px;
            left: 0;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        .full-seat-map .seat, .full-seat-map .seat:hover {
            border: 0;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }

        .seat-map-thumb svg {
            max-height: 150px !important;
            max-width: 100px;
            margin-bottom: 10px;
        }

        .row-marker {
            position: absolute;
            text-align: center;
            color: #333;
        }
        .seat, .seat:hover {
            position: absolute;
            background: #CCC;
            border: solid 1px #999;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            font-size: 9px;
        }

        .seat.same_zone {
            border: solid 1px rgb(253, 184, 19);
            background: rgba(253, 184, 19, 0.5);
        }

        .seat.available {
            background: #FFF;
            cursor: pointer;
        }

        .seat.available:hover {
            background: #a47700;
        }

        .seat.selected,
        .seat.selected:hover {
            background: #C00;
        }

        .selected-seats-grid
        {
            min-width: 500px;
            border: solid 1px #999;
            -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
            box-shadow: 0 0 3px rgba(0,0,0,0.4);
            margin-bottom: 20px;
        }
        .selected-seats-grid thead {
            border-bottom: solid 1px #999;
        }
        .selected-seats-grid tfoot {
            border-top: solid 1px #999;
        }

        .selected-seats-grid th,
        .selected-seats-grid td {
            padding: 5px 20px;
            text-align: left;
        }

        .selected-seats-grid tr:nth-child(even) {
            background: #EEE;
        }

        .tooltip {
          position: absolute;
          z-index: 1030;
          display: block;
          font-size: 12px;
          line-height: 1.4;
          visibility: visible;
          filter: alpha(opacity=0);
          opacity: 0;
        }
        .tooltip.in {
          filter: alpha(opacity=100);
          opacity: 1;
        }
        .tooltip.top {
          padding: 5px 0;
          margin-top: -3px;
        }
        .tooltip.right {
          padding: 0 5px;
          margin-left: 3px;
        }
        .tooltip.bottom {
          padding: 5px 0;
          margin-top: 3px;
        }
        .tooltip.left {
          padding: 0 5px;
          margin-left: -3px;
        }
        .tooltip-inner {
          max-width: 200px;
          padding: 3px 8px;
          color: #fff;
          text-align: center;
          text-decoration: none;
          background-color: #a47700;
          border-radius: 4px;
        }
        .tooltip-arrow {
          position: absolute;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
        }
        .tooltip.top .tooltip-arrow {
          bottom: 0;
          left: 50%;
          margin-left: -5px;
          border-width: 5px 5px 0;
          border-top-color: #a47700;
        }
        .tooltip.top-left .tooltip-arrow {
          bottom: 0;
          left: 5px;
          border-width: 5px 5px 0;
          border-top-color: #a47700;
        }
        .tooltip.top-right .tooltip-arrow {
          right: 5px;
          bottom: 0;
          border-width: 5px 5px 0;
          border-top-color: #a47700;
        }
        .tooltip.right .tooltip-arrow {
          top: 50%;
          left: 0;
          margin-top: -5px;
          border-width: 5px 5px 5px 0;
          border-right-color: #a47700;
        }
        .tooltip.left .tooltip-arrow {
          top: 50%;
          right: 0;
          margin-top: -5px;
          border-width: 5px 0 5px 5px;
          border-left-color: #a47700;
        }
        .tooltip.bottom .tooltip-arrow {
          top: 0;
          left: 50%;
          margin-left: -5px;
          border-width: 0 5px 5px;
          border-bottom-color: #a47700;
        }
        .tooltip.bottom-left .tooltip-arrow {
          top: 0;
          left: 5px;
          border-width: 0 5px 5px;
          border-bottom-color: #a47700;
        }
        .tooltip.bottom-right .tooltip-arrow {
          top: 0;
          right: 5px;
          border-width: 0 5px 5px;
          border-bottom-color: #a47700;
        }

        .tooltip-inner .section {
            color: #FFF;
            font-size: 1.2em;
        }
        .tooltip-inner .seat-text {
            color: #FFF;
        }
        .tooltip-inner .price {
            color: #FFF;
        }
        .tooltip-inner .click-text {
            color: #FFF;
            font-size: 0.9em;
        }
        .tooltip.seat-tooltip .tooltip-inner{
            max-width: 300px;
        }
    </style>
<% end %>
<div class="content-wrap full">
    <div style="padding: 0 30px;">
        <div class="rowx">
            <div class="syos_splash" style="line-height: 300px; text-align: center;">
                <img src="/syos_loader.gif" />
            </div>
            <div id="syos_ctr" style="display: none;">
                <div class="syos-app" data-bind="if: $root.performance">
                    <div class="syos-hdr" data-bind="with: $root.performance">
                        <div data-bind="visible: $root.showMap" class="seat-map-thumb pull-right"></div>
                        <h2 data-bind="html: title"></h2>
                        <div class="perf-dt"><span data-bind="html: $root.displayDate"></span></div>
                        <div class="perf-loc"><span data-bind="html: LocationDisplay"></span></div>
                        <div style="margin-top: 8px;">
                            <a href="#" class="btn btn-default btn-sm" style="margin-right:5px;">Change Performance</a>
                            <a href="<%= best_avail_performance_path(id: @performance.id) %>" class="btn btn-default btn-sm" style="margin-right:5px;">Choose Best Available</a>
                        </div>
                    </div>
                    <div class="page-host">
                        <div data-bind="if: !$root.showMap()" style="width: 100%;">
                            <div style="padding: 30px 0; overflow: hidden;">
                                <div style="width: 33%;display:inline-block;height: 500px;overflow:auto;vertical-align:top;">
                                    <div class="seat-map-svg" style="width: 100%;">
                                    </div>
                                </div>
    								<div style="width: 33%; display:inline-block;vertical-align:top;">
    									<table class="section-summary-list" style="width:100%;" data-bind="foreach: $root.sections">
    										<tr data-bind="attr: {class: slug}, event: {mouseover: $root.sectionMouseOver, mouseout: $root.sectionMouseOut}">
    											<td style="padding: 0;">
    												<!-- ko if: totalAvailable == 0 -->
    												<div style="padding:5px  8px; line-height: 18px;"><strong data-bind="text: name"></strong><span class="sold-out">(SOLD OUT)</span></div>
    												<!-- /ko -->
    												<!-- ko if: totalAvailable > 0 -->
    												<a data-bind="attr: {href: '#map/'+screenId, style: 'display:block;padding:8px;'}">
    													<strong data-bind="text: name"></strong>
    													<span style="font-size:0.85em;display:block;" data-bind="visible: totalAvailable > 0">(<span data-bind="text: totalAvailable"></span> available)</span>
    												</a>
    												<!-- /ko -->
    											</td>
    											<td style="text-align: left;"><span data-bind="html: priceDisplay"></span></td>
    											<!-- ko if: showOtherPriceDisplay -->
    											<td style="text-align: left;"><span data-bind="html: otherPriceDisplay"></span></td>
    											<!-- /ko -->
    										</tr>
    									</table>
    								</div>

    							<div style="width: 33%; display:inline-block;vertical-align:top;">
    								<div class="vfas-ctr" style="width:100%;"></div>
    							</div>
    							</div>
                        </div>
                        <div data-bind="if: $root.showMap">
                            <div data-bind="with: $root.map">
                                <div style="overflow: hidden; line-height: 24px; margin-bottom: 10px;">
                                    <div style="line-height: 40px;"><span style="font-size: 18px; font-weight: bold;" data-bind="text: $root.selectedScreenName"></span>&mdash; <a href="#/">Change Section</a></div>
                                </div>
                                <div>
                                    <div class="seat-map-wrap" style="width: 100%; height: 380px; overflow: scroll; border: 1px solid #b0b0b0;"
                                        data-bind="if: hasSeats">
                                        <div class="seat-map" data-bind="style: mapStyle">
                                            <!-- ko foreach: seats -->
                                            <!-- ko if: SeatStatus == 0 -->
                                            <a class="seat" data-bind="event: {mouseover: $parent.seatOver, mouseout: $parent.seatOut}, css: {available: SeatStatus == 0, selected: selected, same_zone: Zone == $parent.currentZone()}, style: seatStyle, click: toggleSelected, tooltip: tooltipContent, tooltipOptions: {position: 'top'}"></a>
                                            <!-- /ko -->
                                            <!-- ko if: SeatStatus != 0 -->
                                            <a class="seat" data-bind="css: {available: SeatStatus == 0}, style: seatStyle"></a>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                            <!-- ko foreach: rows -->
                                            <div class="row-marker" data-bind="text: name, style: leftStyle"></div>
                                            <div class="row-marker" data-bind="text: name, style: rightStyle"></div>
                                            <!-- /ko -->
                                            <div class="stage">(STAGE)</div>
                                        </div>
                                    </div>
                                    <div style="overflow: hidden; margin: 10px 0 30px;">
                                        <div style="float: right;">
                                            Zoom:&nbsp;<a class="btn btn-default" style="line-height: 24px; width: 24px; padding: 0; text-align: center; cursor: pointer;" data-bind="click: zoomOut">-</a>&nbsp;<a class="btn btn-default" style="line-height: 24px; width: 24px; padding: 0; text-align: center; cursor: pointer;" data-bind="click: zoomIn">+</a>
                                        </div>
                                        <h3>Selected Seats</h3>
                                        <div style="float: right; width: 150px;">
                                            <div style="margin-bottom: 5px; line-height: 18px;"><a class="seat available" style="width: 18px; height: 18px; position: relative; display: inline-block;">&nbsp;</a>&nbsp;Available</div>
                                            <div style="margin-bottom: 5px; line-height: 18px;"><a class="seat" style="width: 18px; height: 18px; position: relative; display: inline-block;">&nbsp;</a>&nbsp;Sold</div>
                                            <div style="margin-bottom: 5px; line-height: 18px;"><a class="seat selected" style="width: 18px; height: 18px; position: relative; display: inline-block;">&nbsp;</a>&nbsp;Selected</div>
                                            <div style="margin-bottom: 5px; line-height: 18px;"><a class="seat accessible" style="width: 18px; height: 18px; position: relative; display: inline-block;">&nbsp;</a>&nbsp;Accessible</div>
                                        </div>
                                        <table class="selected-seats-grid">
                                            <thead>
                                                <tr>
                                                    <th>Section
                                                    </th>
                                                    <th>Row
                                                    </th>
                                                    <th>Seat
                                                    </th>
                                                    <th data-bind="visible: $root.multiplePriceTypes">Type</th>
                                                    <th>Price
                                                    </th>
                                                    <th>&nbsp;
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: selectedSeats">
                                                <tr>
                                                    <td data-bind="text: sectionName"></td>
                                                    <td data-bind="text: SeatRow"></td>
                                                    <td data-bind="text: SeatNumber"></td>
                                                    <td data-bind="visible: $root.multiplePriceTypes">
                                                        <div class="checkbox"><label><input type="radio" data-bind="value: window.app.PriceType, checked: selectedPriceType"/> <span>Adult</span></label></div>
                                                        <!-- ko foreach: otherPriceTypes -->
                                                        <div class="checkbox"><label><input type="radio" data-bind="value: id, checked: $parent.selectedPriceType"/> <span data-bind="text: name"></span></label></div>
                                                        <!-- /ko -->
                                                    </td>
                                                    <td style="text-align: right;" data-bind="text: selectedPriceFormatted"></td>
                                                    <td>
                                                        <button class="btn btn-sm btn-danger" data-bind="click: toggleSelected">
                                                            Remove</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3">Total
                                                    </td>
                                                    <td data-bind="visible: $root.multiplePriceTypes">&nbsp;</td>
                                                    <td style="text-align: right;" data-bind="text: selectedSeatsTotal"></td>
                                                    <td>
                                                        <a class="btn btn-primary" href="javascript:;" data-bind="click: reserveSeats">Reserve Seats</a>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript" src="/javascripts/require.js"></script>
<script type="text/javascript" src="/javascripts/syos/app/Models/Performance.js"></script>
<script type="text/javascript" src="/javascripts/syos/app/Models/Seat.js"></script>
<script type="text/javascript" src="/javascripts/syos/app/Models/MapSpot.js"></script>
<script type="text/javascript" src="/javascripts/syos/app/viewmodels/map.js"></script>
<script type="text/javascript" src="/javascripts/syos/app/dataproviders/seat_provider.js"></script>
<script type="text/javascript" src="/javascripts/syos/app/dataproviders/zonemap_provider.js"></script>
<script type="text/javascript" src="/javascripts/site_bindings.js"></script>
<script type="text/javascript">
 window.performanceData = <%= @syos_data.to_json.html_safe %>;
 window.syosVars = {"SessionKey": <%= current_session.session_key.to_json.html_safe %>,
                     "ModeOfSale": <%= current_session.mode_of_sale_id.to_json.html_safe %>,
                     "PriceType": <%= (@syos_data&.Sections&.first&.Prices&.RegularPriceType || 10).to_json.html_safe %>,
                     "DefaultPriceType":<%= (@syos_data&.Sections&.first&.Prices&.RegularPriceType || 10).to_json.html_safe %>,
                     "PerformanceNumber": <%= @syos_data["Id"].to_json.html_safe %>,
                     "ZoneMapNumber":<%= @syos_data["ZoneMap"].to_json.html_safe %>,
                     "CartRedirectUrl": <%= view_cart_path.to_json.html_safe %>,
                     "ChangePerformanceUrl":"/tickets",
                     "MaxTickets":10,
                     "HideChangePerformanceLink":true
                 };
    <% if (@syos_data&.Sections&.first&.Prices&.ChildPriceType || 0) > 0 %>
        window.syosVars["OtherPriceTypes"] = {<%= (@syos_data&.Sections&.first&.Prices&.ChildPriceType || 10).to_json.html_safe %>: "Child"},
    <% end %>
    window.app = { };
    function SyosViewModel() {
        var self = this;
        window.app.PerformanceNumber = window.syosVars.PerformanceNumber;
        window.SeatProvider.PerformanceNumber = window.app.PerformanceNumber;
        window.app.PriceType = window.syosVars.PriceType;
        window.app.DefaultPriceType = window.syosVars.DefaultPriceType;
        window.app.OtherPriceTypes = window.syosVars.OtherPriceTypes;
        var perf = new Performance(window.performanceData);
        perf.LocationDisplay = ko.observable(perf.venue);
        self.performance = ko.observable(perf);
        window.app.performance = self.performance;

        self.sections = ko.observableArray([]);
        window.app.sections = self.sections;
        var sectionData = window.ZoneMapProvider.GetSections(perf.zoneMap);
        var perfSections = window.performanceData.Sections
        //console.log('perfSections', perfSections)
        $.each(sectionData, function(idx, s){
            s.prices = {};
            s.otherPrices = ko.observable({});
            s.otherPriceTypes = ko.observable({});
            s.hasOtherPrices = false;
            s.totalAvailable = 0;
            $(perfSections).each(function(idx3, summarySection){
                if(summarySection.Id == s.id){
                    //console.log('totalAvailable', s.name, summarySection.AvailableCount);
                    s.totalAvailable += summarySection.AvailableCount;
                    if(!s.zones.includes(summarySection.Zone)  && summarySection.Availablecount > 0){
                        s.zones.push(summarySection.Zone);
                    }
                }
            });
            $.each(s.zones, function(idx2, z){
              var pz = perf.zones[z+''];
              if(pz != undefined){
                //console.log('pz', pz, pz.prices, window.app.PriceType, pz.prices[window.app.PriceType])
                s.prices[z] = pz.prices[window.app.PriceType] || pz.prices[window.app.DefaultPriceType];
                for (var pt in window.app.OtherPriceTypes) {
    							//console.log('otherPrices-2', pt, pz.prices, window.app.OtherPriceTypes);
    							//pt = parseInt(pt);
    							//console.log('otherPrices-3', pt, pz.prices[pt], pz.prices);
    							if (pz.prices[pt] != undefined) {
    								var sot = s.otherPrices();
    								sot[window.app.OtherPriceTypes[pt]] = sot[window.app.OtherPriceTypes[pt]] || {};
    								sot[window.app.OtherPriceTypes[pt]][z] = pz.prices[pt];
    								s.otherPrices(sot);
    								var sopt = s.otherPriceTypes();
    								sopt[pt] = sopt[pt] || {};
    								sopt[pt][z] = pz.prices[pt];
    								s.otherPriceTypes(sopt);
    								s.hasOtherPrices = true;
    							}
    						}
                if (pz.prices[window.app.PriceType] == undefined && pz.prices[window.app.DefaultPriceType] == undefined) {
      						s.status = 8;
      					}
        }
      });
      s.priceDisplay = ko.computed(function () {
				var lowPrice = 0;
				var highPrice = 0;
				//console.log('priceDisplay', s,  s.prices)
				for (var zp in s.prices) {
					if (lowPrice == 0 || s.prices[zp] < lowPrice) {
						lowPrice = s.prices[zp];
					}
					if (highPrice == 0 || s.prices[zp] > highPrice) {
						highPrice = s.prices[zp];
					}
				}
				if (lowPrice == highPrice) {
					return (s.hasOtherPrices ? "Adult: " : "") + numeral(highPrice).format('$0,0.00');
				} else {
					return (s.hasOtherPrices ? "Adult: <br/>" : "") + numeral(lowPrice).format('$0,0.00') + " - " + numeral(highPrice).format('$0,0.00');
				}
			});
			s.otherPriceDisplay = ko.computed(function () {
				var displays = "";
				var sot = s.otherPrices();
				for (var pt in sot) {
					var lowPrice = 0;
					var highPrice = 0;
					for (var zp in sot[pt]) {
						if (lowPrice == 0 || sot[pt][zp] < lowPrice) {
							lowPrice = sot[pt][zp];
						}
						if (highPrice == 0 || sot[pt][zp] > highPrice) {
							highPrice = sot[pt][zp];
						}
					}
					if (lowPrice == highPrice) {
						displays += pt + ': ' + numeral(highPrice).format('$0,0.00');
					} else {
						displays += pt + ': <br/>' + numeral(lowPrice).format('$0,0.00') + " - " + numeral(highPrice).format('$0,0.00');
					}
				}
				return displays;
			});
			s.showOtherPriceDisplay = ko.computed(function () {
				return s.otherPriceDisplay().length > 0
			});
        });
		self.sections(sectionData);

        window.app.zoom = ko.observable(1);
        window.app.seatSize = ko.observable(25);

        self.selectedScreenId = ko.observable();
        window.app.selectedScreenId = self.selectedScreenId;

        self.selectedScreenName = ko.computed(function() {
            var name = "";
            if(self.performance() && self.selectedScreenId()) {
                name = window.ZoneMapProvider.GetScreenName(self.performance().zoneMap, self.selectedScreenId());
            }
            return name;
        });

        self.multiplePriceTypes = ko.computed(function() {
            var multi = false;
            for(var p in window.app.OtherPriceTypes) {
                multi = true;
            }
            return multi;
        });

        self.otherPriceTypes = ko.computed(function() {
            var pTypes = [];
            for(var p in window.app.OtherPriceTypes) {
                pTypes.push({ id: p, name: window.app.OtherPriceTypes[p] });
            }
            return pTypes;
        });

        self.sectionMouseOver = function(section) {
            //console.log('sectionMouseOver', section);
			$('.seat-map-svg svg').attr('class', section.slug);
			if (section.vfas && section.vfas.length > 0) {
				var url = "https://s3.amazonaws.com/sdo.media/vfas/" + self.performance().zoneMap + "/" + section.vfas;
				var img = new Image();
				img.src = url;
				$('.vfas-ctr').html('<img src="' + url + '" style="width: 100%;max-width:100%;" />');
			}
        };
        self.sectionMouseOut = function(section) {
            //console.log('sectionMouseOver', section);
			$('.seat-map-svg svg').attr('class', "");
			$('.vfas-ctr').empty();
        };

        self.map = ko.computed(function () {
            if(self.selectedScreenId() != undefined && self.sections().length > 0) {
                return new MapViewModel(window.app);
            }else {
                return null;
            }
        });

        self.showMap = ko.computed(function() {
            return self.selectedScreenId() != undefined;
        });




        self.displayDate = ko.computed(function () {
            if (self.performance() != undefined) {
                return self.performance().date.format("dddd, MMMM Do YYYY h:mma");
            }
            return "";
        });

        self.zoneMapUrl = ko.computed(function () {
            return self.performance() != undefined ? "/javascripts/syos/maps/" + self.performance().zoneMap + ".svg" : null;
        });

        window.app.performance.subscribe(function () {
            self.loadSeatMap();
        });
        window.app.selectedScreenId.subscribe(function () {
            self.loadSeatMap();
        });

        self.loadSeatMap = function () {
            if (self.zoneMapUrl() == null) return;
            jQuery.get(self.zoneMapUrl(), null, function (svgDoc) {
                var seatmap = jQuery('.seat-map-svg');
                var seatmapThumb = jQuery('.seat-map-thumb');
                var importedSeatMapElement = document.importNode(svgDoc.documentElement, true);
                seatmap.html(importedSeatMapElement);
                var importedSeatMapThumbElement = document.importNode(svgDoc.documentElement, true);
                seatmapThumb.html(importedSeatMapThumbElement);

                jQuery('.section-group', seatmap).each(function (ind, el) {
                    var slug = $(el).data('section-group');
                    jQuery(el).hover(function() {
                        $('.section-summary-list .'+slug).addClass('active');
                    }, function () {
                        $('.section-summary-list .'+slug).removeClass('active');
                    });
                    jQuery(el).bind('click', function () {
                        location.hash = "map/" + $(el).data('screen');
                    });
                });
                jQuery('.section-group', seatmapThumb).each(function (ind, el) {
                    var slug = $(el).data('section-group');
                    var originalClass = $(el).attr('class');
                    if($(el).data('screen')+"" == self.selectedScreenId()) {
                        $(el).attr('class', originalClass + " active");
                    }else{
                        $(el).attr('class', originalClass);
                    }

                    jQuery(el).hover(function() {
                        $('.section-summary-list .'+slug).addClass('active');
                    }, function () {
                        $('.section-summary-list .'+slug).removeClass('active');
                    });
                    jQuery(el).bind('click', function () {
                        location.hash = "map/" + $(el).data('screen');
                    });
				});
				jQuery('.section, .section-text', seatmap).each(function (ind, el) {
					var vfas = $(el).data('vfas');
					if (vfas && vfas.length > 0) {
						var url = "https://s3.amazonaws.com/sdo.media/vfas/" + self.performance().zoneMap + "/" + vfas;
						var img = new Image();
						img.src = url;
						jQuery(el).hover(function () {
							$('.vfas-ctr').html('<img src="' + url + '" style="width: 100%;max-width:100%;" />');
						}, function () {
							$('.vfas-ctr').empty();
						});
					}
				});

            }, "xml");
        };


        var app = Sammy(function() {
            this.get('#map/:screen', function() {
                self.selectedScreenId(this.params.screen);
            });
            this.get('#/', function() {
                self.selectedScreenId(null);
                self.loadSeatMap();
            });
        });

        app.run('#/');
    }

    ko.applyBindings(new SyosViewModel(), document.getElementById('syos_ctr'));
    $('.syos_splash').hide();
    $('#syos_ctr').show();

</script>
<% end %>