<div class="content-wrap">
    <h2>Forgot password</h2>
    <div class="row">
        <div class="col-md-9">
            <p>To reset your password, please enter the email address you use to sign in. If you no longer have access to this email address, please contact Patron Services at 619-533-7000.</p>
            <%= simple_form_for(@session, as: "session", :html => { method: "post", role: "form", id:"forgot_password"  }, :url => send_forgot_password_path ) do |f| %>
                <%= render partial: "/shared/error_messages", locals: {model: @session} %>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <%= f.input :user_name, label: "Email" %>
                    </div>
                </div>
                <div class="form-actions">
                    <%= f.button :submit, "Reset Password", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h4>Not registered yet?</h4>
                <%= link_to("Register Now", new_account_path, class: "btn btn-primary btn-block") %>
            </div>
            <div class="well">
                <h4>Ready to login?</h4>
                <%= link_to("Login Now", sdo_session_path, class: "btn btn-primary btn-block") %>
            </div>
            <p>Need more information on an opera? Can’t remember your log in information? Like details about views and sounds from different seats? For answers to these questions and more, Patron Services is here to help!</p>
            <p><strong>Visit our PATRON SERVICES OFFICE</strong><br>
                233 A Street, 5th Floor<br>
                Centre City Building<br>
                San Diego, CA 92101<br>
                Hours: Mon-Fri, 8:30am to 4:30pm<br>
                <br><strong>Contact our PATRON SERVICES Team</strong><br>
                Phone: (619) 533-7000<br>
                Email:&nbsp;<a href="mailto:tickets@sdopera.com" data-mce-href="mailto:tickets@sdopera.com"></a><a>tickets@sdopera.com</a><br>
                Hours: Mon-Fri, 8:30am to 4:30pm</p>
        </div>
    </div>
</div>